@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #020230;

}

.app{
  display: flex;
  height: 100vh;
  color: #fff;
}
.main{
  width: 75%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #020230),
  url('./assets/bg.jpg') center;
}
.pyramid{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moneylist{
  list-style: none;
  width: 100%;
  padding: 20px;
}
.moneyListItem{
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.moneyListItem.active{
  background-color: teal;
}
.moneyListItemNumber{
  font-size: 18px;
  font-weight: 100;
}
.moneyListItemAmount{
  font-size: 20px;
  font-weight: 300;
}